.filter-area,
.main-chart,
body {
    background-color: #fff
}

#Chart,
.sidepanel {
    position: relative
}

#Chart .val,
#chartCordtra #Chart .val,
#chartPlayback #Chart .val {
    left: 0;
    bottom: 0
}

#chartPlaybackHist .bar rect,
.hair-line {
    shape-rendering: crispEdges
}

body {
    margin: 0;
    font-family: Arial
}

text {
    font-size: 11px
}

h2 {
    font-size: 1.6em
}

h4 {
    font-size: 1.2em
}

h5 {
    margin-bottom: 4
}

h3.title a {
    color: #fff
}

h3.title {
    margin: 10px 0 0
}

.container {
    margin-left: 0
}

.main {
    margin: 0;
    padding: 3 0
}

.help {
    font-size: .9em
}

.sidepanel {
    padding-right: 0
}

.main-chart {
    margin-top: 0;
    padding: 0 10px;
    min-height: 350px
}

.filter-area {
    padding: 0 10px 20px;
    margin: 0;
    border-left: solid 1px #ccc;
    height: 100vh;
    display: block
}

.filter-area h5 {
    margin: 18px 0 0;
    font-weight: 700;
    color: 777
}

.filter-reset {
    font-size: 12px;
    float: right
}

.checkbox label,
.radio label,
label {
    color: #000;
    font-size: 11px;
    font-weight: 400;
    margin: 0;
    padding-top: 0
}

input[type=radio],
input[type=checkbox] {
    margin: 0 4px 0 0
}

#Chart .val,
#chartCordtra #Chart .val,
#chartPlayback #Chart .val,
.d3-tip:after {
    position: absolute;
    text-align: center
}

#chartFB path {
    stroke: #4682b4;
    stroke-width: 2;
    fill: none
}

#chartFB .legend rect {
    fill: #fff;
    stroke: none;
    opacity: .8
}

#chartAccess .legend rect {
    fill: #fff;
    stroke: none;
    opacity: .8
}

#chartAccess path.line {
    fill: #555;
    stroke: none;
}

#chartPlayback .barLabel {
    fill: #555;
    font-size: 12px;
    text-anchor: start;
    width: 40
}

#chartPlayback #chart-row-spenders3 text.row,
#chartPlayback #chart-row-spenders2 text.row, 
#chartPlayback #chart-row-spenders text.row {
    fill: #555;
}

#chartPlayback #chart-row-spenders text.row {
    fill: #fff
}

#chartPlayback .dc-chart .pie-slice-group path {
    stroke: #fff;
    stroke-width: 2
}

#chartCordtra .barLabel {
    fill: #555;
    font-size: 12px;
    text-anchor: start;
    width: 40
}

#chart-ring-phase text.row,
#chartCordtra #context-chart text.row,
#chartCordtra #group-chart text.row,
#chartCordtra #chart-ring-phase text.pie-label {
    fill: #555
}

#chartPlaybackInteractions #chart-hist-spend.dc-chart svg g g.chart-body g.stack._0 text.barLabel {
    fill: #555;
    font-size: 12px;
    text-anchor: middle;
    width: 40
}

#chartPlaybackInteractions #chart-row-spenders2 text.row {
    fill: #555;
}

#chartPlaybackInteractions #chart-row-spenders text.row {
    fill: #555;
}

#chartPlaybackInteractions #chart-row-spenders3 text.row {
    fill: #555;
}

#chartPlaybackInteractions #chart-ring-phase text.pie-label {
    fill: #555;
}

#chartPlaybackInteractions.dc-chart .pie-slice-group path {
    stroke-width: 2
}

#chartPlaybackInteractions .cust-label{
    fill: #555;
    font-size: 12px;
    text-anchor: middle;
    width: 40
}

#mainPeakChart path,
#mainSpeedChart path {
    fill: none;
    stroke: #000;
    stroke-width: 2px
}

#mainPeakChart path.cardinal,
#mainSpeedChart path.cardinal {
    stroke: #666;
    stroke-width: 2px
}

#mainPeakChart path.area,
#mainSpeedChart path.are {
    stroke: none;
    stroke-width: 0;
    fill: #fff;
    fill-opacity: .2
}

#mainPeakChart circle.peak,
#mainSpeedChart circle.peak {
    fill: #666
}

#mainPeakChart .main-segment,
#mainSpeedChart .main-segment {
    fill: #e6550d;
    stroke: none
}

#mainPeakChart .poi-line {
    stroke: #666;
    stroke-width: 1;
    opacity: .4;
    fill: none
}

.hair-line {
    fill: none;
    stroke: grey;
    opacity: .1;
    stroke-width: 1
}

#mainPeakChart .poi-label {
    fill: #666;
    padding: 2px 4px;
    stroke: none;
    opacity: .4
}

#mainAccessChart path {
    fill: none;
    stroke: #333;
    stroke-width: 2px
}

#mainAccessChart .line {
    fill: #ddd;
    stroke: #333;
    stroke-width: 1px
}

#mainAccessChart .dots {
    fill: #555;
    stroke: none
}

#dropAccessChart .title,
#hoursAccessChart .title,
#mainAccessChart .title,
#weekdaysAccessChart .title {
    fill: #555;
    stroke: none;
    font-size: 1.2em;
    font-weight: 700
}

#playbackPerWeekAccessChart rect.bar {
    fill: #555;
    stroke: none;
    font-size: 1.2em;
    font-weight: 700
}

#mainGroup .axis {
    font-size: 13px
}

#mainGroup .axis line,
#mainGroup .axis path {
    fill: none;
    display: none
}

#mainGroup .label {
    font-size: 11px;
    font-weight: 400
}

#mainGroup .title {
    cursor: help
}

#groupCompChart .err-bar {
    color: red;
    fill: red;
    opacity: .4
}

#chartPlaybackHist .bar text {
    fill: #999
}

#chartPlaybackHist .legend {
    font-size: 10px
}

.d3-tip {
    line-height: 1.4em;
    font-size: .8em;
    padding: 2px 6px;
    background: rgba(200, 220, 255, .8);
    color: #111;
    border-radius: 3px
}

.d3-tip:after {
    box-sizing: border-box;
    display: none;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, .8);
    content: "\25BC"
}

@media (min-width:768px) {
    .navbar .navbar-collapse {
        padding: 0 0 10px
    }
    .navbar .navbar-nav>li,
    .navbar .navbar-nav>li.open>a,
    .navbar .navbar-nav>li>a,
    .navbar-nav>li.open>a,
    .navbar-nav>li>a {
        padding-top: 5px;
        padding-bottom: 5px
    }
    .navbar {
        margin-bottom: 0!important;
        background-color: #5f89ad
    }
    .navbar.navbar-inverse .dropdown-menu {
        position: relative;
        background-color: inherit;
        margin-left: 10px;
        margin-top: 0
    }
    .navbar-nav>li.level-1>span {
        font-weight: 700
    }
    .navbar.navbar-inverse .dropdown-menu li>a {
        font-size: 10pt;
        padding: 0 0 0 10px;
        color: #fff
    }
    ul.navbar-nav li.level-1 {
        padding-right: 40px
    }
    ul.navbar-nav li.level-1>ul {
        padding-left: 0
    }
    ul.nav li ul li {
        list-style: none;
        font-size: 9pt
    }
    ul.nav li ul li a {
        color: #fff
    }
    .row {
        margin-right: 0
    }
}

.axis line,
.axis path,
.domain {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges
}

.chart-title {
    font-size: 1em;
    font-weight: 400;
    fill: #666
}

.small {
    font-size: .9em
}

.main-chart-color {
    fill: #555
}

highlight-chart-color {
    fill: red
}

.area {
    fill: #4682b4;
    clip-path: url(#clip)
}

.zoom {
    cursor: move;
    fill: none;
    pointer-events: all
}