<!DOCTYPE html>
<html lang="en">

<head>
	<title>VIANDA - Video Analytics Dashboard</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/lib/mdb/css/mdb.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/dc.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vi-dashboard.css" />

	<script type="text/javascript" src="/static/lib/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/lib/tether.min.js"></script>
	<script type="text/javascript" src="/static/css/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/lib/mdb/js/mdb.min.js"></script>

	<script type="text/javascript" src="/static/lib/d3.v3.min.js"></script>
	<script type="text/javascript" src="/static/lib/d3.legend.min.js"></script>
	<script type="text/javascript" src="/static/lib/d3.tip.min.js"></script>

	<script type="text/javascript" src="/static/lib/crossfilter.min.js"></script>
	<script type="text/javascript" src="/static/lib/dc.min.js"></script>

	<script type="text/javascript" src="/static/lib/gauss.min.js"></script>
	<script type="text/javascript" src="/static/lib/moment.min.js"></script>
	<script type="text/javascript" src="/static/lib/d3_peaks.js"></script>
	<script type="text/javascript" src="/static/lib/i18next.min.js"></script>
	<script type="text/javascript" src="/static/lib/jquery-i18next.min.js"></script>
	<script type="text/javascript" src="/static/lib/i18nextXHRBackend.min.js"></script>

	<script type="text/javascript" src="/static/src/vi-dashboard.js"></script>

</head>

<body class="embedded">
	<div class="col-sm-12 main">